
/* Create font Rockwell */
@font-face {
  font-family: 'Rockwell';
  src: url('rockwell.woff2') format('woff2'), /* Replace with the actual font file names and formats */
      url('rockwell.woff') format('woff'),
      url('rockwell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* All page CSS */
* {
  font-family: 'Rockwell';
}

body {
  background-color: lightblue
  }




/* ********** */
/* Top Header */

top {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
top h1 {
box-shadow: rgba(68, 14, 246, 0.4) 0px 5px, rgba(68, 14, 246, 0.3) 0px 10px, rgba(68, 14, 246, 0.2) 0px 15px, rgba(68, 14, 246, 0.1) 0px 20px, rgba(68, 14, 246, 0.05) 0px 25px;



width: fit-content;

animation: flicker 1s linear infinite,color-change 6s linear infinite;
}
@keyframes flicker {
0% {
  opacity: 1;
}
50% {
  opacity: 0.5;
}
100% {
  opacity: 1;
}
}
@keyframes pulsate {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.2);
}
100% {
  transform: scale(1);
}
}

@keyframes color-change {
0% {
  color: #74075d;
}
25% {
  color: purple;
}
50% {
  color: darkmagenta;
}
75% {
  color: black;
}
100% {
  color: darkblue;
}
}


    
/* ********** */
/* HEADER */
header {
display: flex;
padding: 20px;
background-image: linear-gradient(to right,#360033,#3c1053);
align-items: center;
}

.logo {
display: flex;
align-items: center;
}

.logo img {

display: inline-block;
vertical-align: middle;
}


.main-banner {
width: 100%;
height: 1000px;
}
.responsive-banner {
display: none;
}


/* navbar */
.navbar {
display: flex;
font-size: 20px;
align-items: center;
color: #fff;
height: 50px;
margin-left: auto;

}

.navbar ul {

list-style: none;
display: flex;
align-items: center;
}

.navbar li {
margin-left: 20px;
margin-right: 90px;
}

.navbar a {
text-decoration: none;
color: white;
}

 a {
text-decoration: none;
color: black; 

}
a:hover {
text-decoration: none;
color: rgb(233, 120, 8);
} 
.book-info h3:hover {
  color: rgb(233, 120, 8);
}

.navbar a:hover {
color: rgb(255, 153, 0);
}


  /* Dropdown Button */
.dropdown {
position: relative;
display: inline-block;

}

.dropbtn {
color: white;
padding: 10px 20px;
font-size: 16px;
border: 3px solid white;
cursor: pointer;

}

.dropdown-content {
margin-top: 10px;
display: none;
position: absolute;
z-index: 1;
background-color: #3c1053;
min-width: 100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
color: white;
margin-top: 5px;
padding: 12px 16px;
text-decoration: none;
display: block;

}

.dropdown:hover .dropdown-content {
display: block;
}

/* Category */
.book-cover img {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  
}
  
.book-info {
  display: inline-block;
  width: 66.67%;
  padding: 0 20px;
}

.book-info h3 {
  margin-top: 0;
}

.rating {
  color: #f39c12;
  margin-bottom: 10px;
}

.rating i {
  font-size: 18px;
  margin-right: 5px;
  animation: rating-change 2s linear infinite;
}
@keyframes rating-change {
  0% {
    color: darkorange;
  }
  50% {
    color: rgb(255, 247, 0);
  }
  100% {
    color: rgb(255, 106, 0);
  }
}
.buy-btn {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #e67e22;
}
.bestbook-container:last-of-type {
  margin-right: 0;
}

/* CATEGORIES */

.book-categories-container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories1-cover {
  
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: calc(25% - 20px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.categories1-cover img {
  width: 100%;
  height: auto;
}

.categories1-cover p {
  margin-top: 10px;
}

.categories1-cover img {
  height: 300px;
  width: 400px;
}

.book-info h3 {
  font-size: 25px;
  color: #000080;
  
}

}

  /* subcategory title */
main h1 {
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  width: fit-content;
  padding: 20px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: border-color 6s infinite;
  text-align: center;
  color: rgb(26, 2, 105)
  ;
}
@keyframes border-color {
  0% {
    border-color: rgb(68, 14, 246);
  }
  50% {
    border-color: rgba(77, 3, 189, 0.643);
  }
  100% {
    border-color: rgb(35, 1, 255);
  }
}
    


/* Footer */
footer {
margin-top: 10px;
width: 100%;
position: relative;
bottom: 0;
background-image: linear-gradient(to right,#360033,#3c1053);
color: #fff;
padding: 100px 0 30px;
border-top-left-radius: 125px;
font-size: 13px;
line-height: 20px;
}

.footer-item {
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
}

.footer-subitem {
flex-basis: 20%;
padding: 10px;
}
.footer-subitem:nth-child(1) {
margin-right: 40px;
}

.footer-subitem:nth-child(2){
flex-basis: 20%;
}
.footer-subitem:nth-child(3) {
flex-basis: 20%;
}

.logofooter {
width: 80px;
margin-bottom: 30px;
}

.footer-subitem h3 {
width: fit-content;
margin-bottom: 40px;
position: relative;

}

footer ul {
padding-inline-start: 0px;
}
footer ul li {
list-style: none;
margin-bottom: 12px;
}
footer ul li a {
text-decoration: none;
color: #fff;

}
form {
padding-bottom: 15px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #ccc;
margin-bottom: 50px;

}
form .far {
font-size: 18px;
margin-right: 5px;
}

form input {
width: 100%;
background: transparent;
color: #ccc;
border: 0;
outline: none;
}
form button {
background: transparent;
border: 0;
outline: none;
cursor: pointer;
}
form button .fas {
font-size: 16px;
color: #ccc
}
.social-icons .fab {
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 20px;
color: #000;
background: #fff;
margin-right: 20px;
cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}

.footer-item .footer-subitem a {
  color: white;
}
.underline {
  width: 100%;
  height: 5px;
  background: rgb(3, 82, 252);
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: rgba(208, 1, 255, 0.987);
  position: absolute;
  top:0;
  left: 10px;
  animation: moving 2s linear infinite;
  
}

@keyframes moving {
  0% {
    left:  -20px;

  }
  100% {
    left: 100%;
  }
}


    /* Responsive */

    @media (max-width: 970px) {
        /* Header Responsive */
        header {
            flex-direction: column;
            align-items: center;
          }
          .logo {
            display: flex;
            align-items: center;
            
        
          }

        /* Navbar Responsive */

        .navbar {
          flex-direction: column;
          align-items: flex-start;
          height: auto;
          padding: 5px 20px;
          margin-left: 0;
      }
        .navbar ul {
            flex-direction: column;
            margin-top: 0px;
            
        }
    
        .navbar li {
            margin-right: 50px;
            margin-bottom: 5px;
            font-size: 20px;
            margin-top: 15px;
        }
       
        @keyframes border-color {
          0% {
            border-color: rgb(68, 14, 246);
          }
          50% {
            border-color: rgba(77, 3, 189, 0.643);
          }
          100% {
            border-color: rgb(35, 1, 255);
          }
        }
        /* Title category  */
        top {
          display: flex;
          text-align: center;
        }
    
        /* Book Categories Responsive */
    
        .book-categories-container1 {
          display: flex;
          flex-direction: column;
          overflow-x: scroll;
          height: 300px; /* set a fixed height for the container */
        }
        .categories1-cover {
          width: 100%; /* set the width of the container to 100% to take up the entire width of the screen */
          margin-bottom: 10px; /* add some margin to separate the containers */
          flex-basis: 100%;
          flex-shrink: 0;
        }
        .bestbook-container .book-cover img {
          width: 200px;
          height: 300px;
        }
        .categories1-cover img {
          width: 200px;
          height: 300px;
        }
    
        /* Footer Responsive*/

        footer {
          bottom: unset;
        }
        .footer-subitem {
          flex-basis: 100%;
        
        }
        .footer-subitem:nth-child(1) img {
          width: 300px;
          height: 100px;
        }
        .footer-subitem:nth-child(2),.footer-subitem:nth-child(3){
          flex-basis: 100%;
      }

      /* Display 1 Best book and Scroll when in Responsive mode */

        @media only screen and (max-width: 969px) {
          .bestbook-container {
            flex-basis: 100%;
            margin-right: 10px;
          }
        }